
.Rhistory

.Rproj.user/shared/notebooks/

.Rproj.user/161B3924/unsaved-notebooks/DB0CBD3E/1/

.Rproj.user/161B3924/sources/session-88c57ed9/

.Rproj.user/161B3924/unsaved-notebooks/72DA0FF3/1/

.Rproj.user/161B3924/sources/prop/

.Rproj.user/161B3924/pcs/

.Rproj.user/161B3924/
